{% extends '@OroUI/actions/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% oro_title_set({params : {"%name%": entity.defaultTitle|default('N/A'|trans)}}) %}
{% set pageTitle = entity.defaultTitle|default('N/A'|trans) %}

{% set formAction = entity.id ?
    path('xngage_dealer_update',{ 'id': entity.id }) :
    path('xngage_dealer_create')
%}


{% block navButtons %}
    {{ parent() }}

    {{ UI.cancelButton(path('xngage_dealer_index')) }}
    {% set html = UI.saveAndCloseButton({'route': 'xngage_dealer_index'}) %}
    {% if entity.id or is_granted('xngage_dealer_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}


{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('xngage_dealer_index'),
            'indexLabel': "Dealers"|trans,
            'entityTitle': entity.defaultTitle|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': "Dealer"|trans}) %}
        {% include '@OroUI/page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = "update-dealer" %}
    {% set dataBlocks = [{
            'title': 'Information',
            'class': 'active',
            'subblocks': [
                {
                    'title': '',
                    'data': [
                        form_row(form.active),
                        form_row(form.titles),
                        form_row(form.slugPrototypesWithRedirect),
                        form_row(form.erpId),
                        form_row(form.descriptions),
                        form_row(form.websites),
                        form_row(form.phone),
                        form_row(form.hours),
                        form_row(form.website_url),
                        form_row(form.image1),
                        form_row(form.image2),
                        form_row(form.image3),
                    ]
                }
            ]
        },
        {
            'title': 'Address',
            'class': '',
            'subblocks': [
                {
                    'title': '',
                    'data': [
                        form_row(form.address),
                        form_row(form.address2),
                        form_row(form.country),
                        form_row(form.region),
                        form_row(form.city),
                        form_row(form.postalCode),
                    ]
                },

                {
                    "title": "",
                    "data": [
                        form_row(form.latlng)
                    ]
                }
            ]
        },
        {
            'title': 'Manager Information',
            'class': '',
            'subblocks': [
                {
                    'title': '',
                    'data': [
                        form_row(form.managerName),
                        form_row(form.managerTitle),
                        form_row(form.managerEmail),
                        form_row(form.managerOfficePhone),
                        form_row(form.managerCellPhone),
                        form_row(form.managerImage)
                    ]
                },
            ]
        }
    ] %}
    {# {% set additionalData = [] %} #}

    {# {% for child in form.children %}
        {% if child.vars.extra_field is defined and child.vars.extra_field %}
            {% set additionalData = additionalData|merge([form_row(child)]) %}
        {% endif %}
    {% endfor %} #}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    {{ parent() }}
{% endblock content_data %}
