{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set gridName = 'xngage-dealers-grid' %}
{% set pageTitle = 'Dealers'|trans %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% include '@OroImportExport/ImportExport/buttons_from_configuration.html.twig' with {
        'alias': 'xngage_dealer_import_export'
    } %}
    {{ UI.addButton({
        'path': path('xngage_dealer_create'),
        'entity_label': 'Dealer'|trans
    }) }}
{% endblock %}