{% block _dealers_page_container_widget %}
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <h1>{{ 'Dealers'|trans }}</h1>
            </div>
            <div class="grid__column grid__column--12">
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _dealers_container_widget %}
    <div class="grid">
        <div class="grid__row">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _dealers_view_widget %}
    <div class="grid">
        <div class="grid__row">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _dealers_view_col_first_widget %}
    <div class="grid__column grid__column--5">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _dealers_view_datagrid_widget %}
    <div class="grid__column grid__column--12">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _dealers_view_datagrid_options_widget %}
    <div class="grid__column grid__column--12">
        {% set gridName = 'xngage-frontend-dealers-grid' %}
        {% set url_prefix = app.request.baseUrl ~ app.request.pathInfo %}
        {% set query_parameters = app.request.query.all() %}
        <a href="{{ url_prefix ~ '?' ~ query_parameters|merge({(gridName): {mi_or_km: 'kilometers'}})|url_encode }}"
            class="btn btn--default btn--size-s {% if distance_type == 'kilometers' %}active{% endif %}">
            km
        </a>
        <a href="{{ url_prefix ~ '?' ~ query_parameters|merge({(gridName): {mi_or_km: 'miles'}})|url_encode }}"
            class="btn btn--default btn--size-s {% if distance_type == 'miles' %}active{% endif %}">
            mi
        </a>
    </div>
{% endblock %}

{% block _dealers_view_col_sec_widget %}
    <div class="grid__column grid__column--7">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _dealers_map_view_widget %}
    <div {{ block('block_attributes') }}>
        {% set viewOptions = layout_attr_defaults(attr, {
            view: 'xngagedealers/js/googlemaps',
            mapOptions: {
                center: {lat: default_lat ? default_lat|number_format :  -25.9210392, lng: default_lng ? default_lng|number_format :  133.6924993},
                zoom: 4,
                mapTypeControl: true,
                panControl: false,
                zoomControl: true
            },
            addresses: '{}',
            apiVersion: '3.exp',
            sensor: false,
            apiKey: oro_config_value('oro_google_integration.google_api_key'),
            showWeather: true
        }) %}
        <div style="width:100%;height: 500px;" data-page-component-view="{{ viewOptions|json_encode }}"></div>
    </div>
{% endblock %}


{%  block _datagrid_widget %}
    {% set themeOptions = grid_render_parameters.themeOptions|default({})|merge({'headerHide': true}) %}
    {% set grid_render_parameters = grid_render_parameters|merge({'themeOptions': themeOptions}) %}

    {% import '@OroDataGrid/macros.html.twig' as dataGrid %}
    {{ dataGrid.renderGrid(grid_full_name, grid_parameters, {'enableViews': false, 'routerEnabled': false}|merge(grid_render_parameters)) }}
{% endblock %}

{% block content_block_widget %}
    <div{{ block('block_attributes') }}>
        {{ contentBlock.content|raw }}
    </div>
{% endblock %}
