<b>{{ record.getValue('dealerTitle') }}</b> <br />
{{ record.getValue('address') }} <br />
{% if record.getValue('address2') %}
    {{ record.getValue('address2') }} <br />
{% endif %}
{{ record.getValue('city') }}, {{ record.getValue('stateCode') }} {{ record.getValue('postalCode') }} <br>
{{ record.getValue('phone') }} <br>
<div style="text-align: right">Dis: {{ record.getValue('distance')|round(1) }}{{ record.getValue('distance_type') == 'miles' ? 'Mi' : 'Km' }}</div>
Hours: {{ record.getValue('hours') }} <br>
<a target="_blank" rel="noreferrer" href="http://maps.google.com/maps?daddr={{ record.getValue('address') }}, {{ record.getValue('city') }}, {{ record.getValue('stateCode') }} {{ record.getValue('postalCode') }}">
    Click For Directions
</a>
