<div data-text-filter-template>
    <input class="input input--size-m input--full" type="text" name="value" value="" aria-label="Dealer">
    <% if (renderMode !== 'toggle-mode') { %>
        <div class="filter-action-row">
            <button type="button"
                class="btn btn--action filter-update"
                aria-label="APPLY"
            ><%- _.__("Apply") %></button>
        </div>
    <% } %>
</div>
