{% block _dealer_page_container_widget %}
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <h1>{{ dealer.getDefaultTitle.getString() }}</h1>
            </div>
            <div class="grid__column grid__column--12">
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _dealer_view_widget %}
    <div class="grid">
        <div class="grid__row grid__row--offset-top">
            <div class="grid__column grid__column--6">
                <h2>Dealer Information</h2>
                <div class="grid__row grid__row--offset-top">
                    <div class="grid__column grid__column--4">
                        {% if dealer.image1 %}
                            <img style="width:  100%" src="{{ file_url(dealer.image1) }}">
                        {% endif %}
                    </div>
                    <div class="grid__column grid__column--4">
                        {% if dealer.image2 %}
                            <img style="width:  100%" src="{{ file_url(dealer.image2) }}">
                        {% endif %}
                    </div>
                    <div class="grid__column grid__column--4">
                        {% if dealer.image3 %}
                            <img style="width:  100%" src="{{ file_url(dealer.image3) }}">
                        {% endif %}
                    </div>
                </div>
                <h3>{{ dealer.title }}</h3><br />
                {{ dealer.address ?: "N/A" }} <br />
                {% if dealer.address2 %}
                    {{ dealer.address2 }} <br />
                {% endif %}
                {{ dealer.city ?: "N/A" }}, {{ dealer.regionName ?: "N/A" }} {{ dealer.postalCode ?: "N/A" }}, {{ dealer.countryName ?: "N/A"}} <br>
                {{ dealer.phone ?: "N/A" }}<br>
                Hours: {{ dealer.hours ?: "N/A" }}<br>

                <h2 class="grid__row--offset-top">Dealer Manager Information</h2>
                {% if dealer.managerImage %}
                    <img style="width:  40%" src="{{ file_url(dealer.managerImage) }}">
                {% endif %}
                {{ dealer.managerName ?: "N/A" }} <br>
                Title: {{ dealer.managerTitle ?: "N/A" }}<br>
                Cell Phone: {{ dealer.managerCellPhone ?: "N/A" }} <br>
                Office Phone: {{ dealer.managerOfficePhone ?: "N/A" }} <br>
                Email: {{ dealer.managerEmail ?: "N/A" }} <br>
            </div>
            <div class="grid__column grid__column--6">
                {{ dealer.descriptions|localized_value|oro_html_sanitize }}
            </div>
        </div>
        <div class="grid__row grid__row--offset-top">
            <div class="grid__column grid__column--12">
                {% if dealer.lat and dealer.lng %}
                    {% set viewOptions = layout_attr_defaults(attr, {
                        view: 'xngagedealers/js/googlemaps',
                        mapOptions: {
                            center: {lat: dealer.lat, lng: dealer.lng},
                            zoom: 4,
                            mapTypeControl: true,
                            panControl: false,
                            zoomControl: true
                        },
                        addresses: [{
                            id: 1,
                            lat: dealer.lat,
                            long: dealer.lng,
                            label: ''
                        }] |json_encode,
                        apiVersion: '3.exp',
                        sensor: false,
                        apiKey: oro_config_value('oro_google_integration.google_api_key'),
                        showWeather: true
                    }) %}
                    <div style="width:100%;height: 500px;" data-page-component-view="{{ viewOptions|json_encode }}"></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_block_widget %}
    <div{{ block('block_attributes') }}>
        {{ contentBlock.content|raw }}
    </div>
{% endblock %}
