{% block xngage_google_maps_picker_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% block xngage_google_maps_fields %}
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        {% endblock %}
        {% block xngage_google_maps_html %}
            <div id="{{ id }}_container" class="form-group">
                {% if search_enabled %}
                    <div class="input-group">
				<span class="input-group-btn">
					<a href="#" id="{{ id }}_current_position" class="btn btn-default">{{ "Goto current location"|trans }}</a>
				</span>
                        <input type="text" id="{{ id }}_input" class="form-control" placeholder="{{ 'Find address'|trans }}" aria-label="{{ 'Find address'|trans }}" aria-describedby="basic-addon2">
                        <span class="input-group-btn">
					<button id="{{ id }}_search_button" class="btn btn-primary" type="button">{{ "Search"|trans }}</button>
				</span>
                    </div>
                {% else %}
                    <p>
                        <a href="#" id="{{ id }}_current_position" class="btn btn-default">{{ "Goto current location"|trans }}</a>
                    </p>
                {% endif %}

                <div id="{{ id }}_map_canvas" class="gmap" style="width: {{ map_width }}; height: {{ map_height }};margin-top: 10px"></div>
                <div id="{{ id }}_error"></div>
            </div>
        {% endblock %}
        {% block xngage_google_maps_javascripts %}

            {% if include_jquery %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
            {% endif %}

            {% if include_gmaps_js %}
            <script async defer type="text/javascript" src="//maps.google.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>
            {% endif %}

        {% endblock %}
        {% block xngage_google_maps_javascript %}
        {% block xngage_google_maps_callback %}
            <script type="text/javascript">
                var xngage_google_maps_callback = function(location, gmap){
                    // your callback function here
                }
            </script>
        {% endblock %}
            <script type="text/javascript">
                function initMap() {

                    $.loadScript = function (url, callback) {
                        $.ajax({
                            url: url,
                            dataType: 'script',
                            success: callback,
                            async: true
                        });
                    }
                    $.loadScript('/bundles/xngagedealers/js/jquery.xngage.googlemaps.js', function(){
                        $('.control-group-xngage_google_maps_picker .control-label:first').remove();
                        $('.control-group-xngage_google_maps_picker .controls:first').css('margin-left', 0)
                        // Set xngageGoogleMapType
                        $('#{{ id }}_map_canvas').xngageGoogleMapType({
                            'search_input_el'    : $('#{{ id }}_input'),
                            'search_action_el'   : $('#{{ id }}_search_button'),
                            'search_error_el'    : $('#{{ id }}_error'),
                            'current_position_el': $('#{{ id }}_current_position'),
                            'default_lat'        : '{% if value is defined and value and attribute(value, lat_name) %}{{ attribute(value, lat_name) }}{% else %}{{ default_lat }}{% endif %}',
                            'default_lng'        : '{% if value is defined and value and attribute(value, lng_name) %}{{ attribute(value, lng_name) }}{% else %}{{ default_lng }}{% endif %}',
                            'default_zoom'       : {% if value is defined and value and value.lat and value.lng %}15{% else %}5{% endif %},
                            'lat_field'          : $('#{{ attribute(form, lat_name).vars.id }}'),
                            'lng_field'          : $('#{{ attribute(form, lng_name).vars.id }}'),
                            {% if addr_name is defined and addr_name and attribute(form, addr_name) %}
                            'addr_field'         : $('#{{ attribute(form, addr_name).vars.id }}'),
                            {% endif %}
                            {% if addr_use_btn is defined and addr_use_btn and attribute(form, addr_use_btn.name) %}
                            'addr_use_btn'       : $('#{{ attribute(form, addr_use_btn.name).vars.id }}'),
                            {% endif %}
                            'callback'           : xngage_google_maps_callback
                        });
                        // Set use_btn behaviour
                        {% if addr_use_btn is defined and addr_use_btn and attribute(form, addr_use_btn.name) %}
                        $('#{{ attribute(form, addr_use_btn.name).vars.id }}').on('click', function(){
                            $('#{{ form.parent.offsetGet( addr_use_btn.target ).vars.id }}').val(
                                $('#{{ attribute(form, addr_name).vars.id }}').val()
                            );
                        });
                        {% endif %}
                    });
                }
            </script>
        {% endblock %}
    </div>
{% endblock %}